In [12]:
# Dependencies
import pandas as pd

In [13]:
# Read csv file with the pandas library
aqi_df = pd.read_csv("New_Data/aqi2019.csv")

aqi_df.head()

,us_state,county,year_end,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_so2,days_pm2.5,days_pm10
0,AL,Baldwin,2019,271,237,34,0,0,0,0,80,52,37,0,0,220,0,51,0
1,AL,Clay,2019,107,97,10,0,0,0,0,67,50,30,0,0,0,0,107,0
2,AL,Colbert,2019,263,252,11,0,0,0,0,61,47,37,0,0,228,0,35,0
3,AL,DeKalb,2019,361,324,37,0,0,0,0,90,51,39,0,0,331,0,30,0
4,AL,Elmore,2019,228,208,20,0,0,0,0,100,50,39,0,0,228,0,0,0

In [16]:
#remove unnecessary columns
clean_aqi = aqi_df[['us_state', 'county', 'days_with_aqi', 'good_days', 'moderate_days', 'unhealthy_sensitive_days', 'unhealthy_days', 'very_unhealthy_days', 'hazardous_days']]
clean_aqi.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days
0,AL,Baldwin,271,237,34,0,0,0,0
1,AL,Clay,107,97,10,0,0,0,0
2,AL,Colbert,263,252,11,0,0,0,0
3,AL,DeKalb,361,324,37,0,0,0,0
4,AL,Elmore,228,208,20,0,0,0,0

In [17]:
# Read csv file with the pandas library
poverty_df = pd.read_csv("New_Data/poverty2019.csv")

poverty_df.head()

  us_state         county poverty_estimate poverty_percentage
0       US  United States       39,490,096               12.3
1       AL        Alabama          747,478               15.6
2       AL        Autauga            6,723               12.1
3       AL        Baldwin           22,360               10.1
4       AL        Barbour            5,909               27.1

In [19]:
#merge dataframes on state and county
combined_df = pd.merge(clean_aqi, poverty_df, how="left", on=['us_state', 'county'])
combined_df.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,poverty_estimate,poverty_percentage
0,AL,Baldwin,271,237,34,0,0,0,0,"22,360",10.1
1,AL,Clay,107,97,10,0,0,0,0,"2,156",16.6
2,AL,Colbert,263,252,11,0,0,0,0,"7,998",14.6
3,AL,DeKalb,361,324,37,0,0,0,0,"12,848",18.2
4,AL,Elmore,228,208,20,0,0,0,0,"8,753",11.4

In [20]:
# Export file as a CSV, without the Pandas index, but with the header
combined_df.to_csv("Data/combineddata.csv", index=False, header=True)